<html>
<head>
<th:block th:include="tiles/head_libs :: head"></th:block>
<link rel="icon" type="image" th:href="@{/images/Icon/favicon.png}">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body class=" bg-secondary">
  <div style="width: 100%">
    <th:block th:include="tiles/menu"></th:block>
    <!------------------------------------------------------------------------------------------------>

    <div class="row" style="width: 100%">


      <div class="col-3" style="width: 25%;">
        <br> <br> <br> <br>

        <div class=" mx-auto" style="width: 50%">
          <iframe scrolling="no" frameborder="no" clocktype="html5"
            style="overflow: hidden; border: 0; margin: 0; padding: 0; width: 150px; height: 150px;"
            src="https://www.clocklink.com/html5embed.php?clock=005&timezone=Spain_Barcelona&color=gray&size=150&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=gray"></iframe>
          <br> <br>



          <iframe
            src="https://calendar.google.com/calendar/embed?height=150&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMadrid&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showDate=0&amp;showNav=0&amp;showTitle=0&amp;hl=es&amp;src=YW5nZWx2YXBhYThAZ21haWwuY29t&amp;color=%23D50000"
            style="border-width: 0" width="150" height="150" frameborder="0" scrolling="no"></iframe>

          <br> <br>

        </div>

        <br>

      </div>




      <div class="col-9" style="width: 100%">

        <br> <br>
        <div class="border border-dark">
          <div class="container">
            <div th:if="${not #lists.isEmpty(animales)}">
              <h2 style="color: white; text-align: center;"><span th:text='#{list.animales}'></h2>
              <table class="table table-striped">
                <tr style="color: white;">
                  <th>Id</th>
                  <th><span th:text='#{form.animalNombre}'></span></th>
                  <th><span th:text='#{form.animalEspecie}'>/<span th:text='#{form.animalRaza}'></span></th>
                  <th><span th:text='#{form.animalImagen}'></th>
                  <th><span th:text='#{form.animalObservaciones}'></span></th>
                </tr>
                <tr style="color: white;" th:each="animal : ${animales}">
                  <td th:text="${animal.idAnimal}"><a href="/product/${product.id}">Id</a></td>
                  <td th:text="${animal.nbAlias}"></td>
                  <td><span th:text="${animal.especie.nombreEspecie}"></span> / <span
                    th:text="${animal.raza != null} ? ${animal.raza.nombreRaza} : 'Sin raza'"></span></td>
                  <td><img th:src="${animal.datosAnimal.imagen}" style="width: 10em"></td>
                  <td th:text="${animal.datosAnimal.observaciones}" style="font-size: 12px"></td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>







    </div>


    <th:block th:include="tiles/footer"></th:block>
  </div>
</body>
</html>