<html>
<head>
<th:block th:include="tiles/head_libs :: head"></th:block>
<link rel="icon" type="image" th:href="@{/images/Icon/favicon.png}">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body class=" bg-secondary">

  <!------------------------------------------------------------------------------------------------>
  <th:block th:include="tiles/menu"></th:block>
  <div class="row" style="width: 100%">


    <div class="col-3" style="width: 25%;">
      <br> <br> <br> <br>

      <div class=" mx-auto" style="width: 50%">
        <iframe scrolling="no" frameborder="no" clocktype="html5"
          style="overflow: hidden; border: 0; margin: 0; padding: 0; width: 150px; height: 150px;"
          src="https://www.clocklink.com/html5embed.php?clock=005&timezone=Spain_Barcelona&color=gray&size=150&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=gray"></iframe>
        <br> <br>



        <iframe
          src="https://calendar.google.com/calendar/embed?height=150&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMadrid&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showDate=0&amp;showNav=0&amp;showTitle=0&amp;hl=es&amp;src=YW5nZWx2YXBhYThAZ21haWwuY29t&amp;color=%23D50000"
          style="border-width: 0" width="150" height="150" frameborder="0" scrolling="no"></iframe>

        <br> <br>

      </div>

      <br>

    </div>




    <div class="col-6" style="width: 100%">
      <br> <br> <br> <br>
      <h1 style="color: white;">
        &#x1F43E;<span th:text='#{inicio.titulo}'></span> &#x1F43E;
      </h1>
      <p style="color: white; font-size: 18px;">
        <span th:text='#{inicio.textoBienvenida}'></span>
      </p>
      <p style="color: white; font-size: 18px;">
        <span th:text='#{inicio.textoBienvenida2}'></span>
      </p>
      <p style="color: white; font-size: 12px;">
        <span th:text='#{inicio.textoBienvenida3}'></span>
      </p>
    </div>

    <div class="col-3" style="width: 100%">
      <br> <br> <br> <br>
      <h3 style="color: white;">
        &#x1F3B2; <span th:text='#{inicio.animalAleatorio}'></span>
      </h3>
      <div class="card">
        <img th:src="${animal.datosAnimal.imagen}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <span th:text="${animal.nbAlias}"></span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</body>
<th:block th:include="tiles/footer"></th:block>
</html>