<html>

<head lang="es">
<th:block th:include="tiles/head_libs :: head"></th:block>
<link rel="icon" type="image/png" th:src="@{/images/Icon/favicon.png}">
<meta charset="UTF-8">
<title>Nuevo Registro</title>
</head>

<body style="background-color: grey">

	<th:block th:include="tiles/menu"></th:block>

	<div class="container">
		<div class="row">

			<div class="col-12 mt-5">
				<h1><span th:text='#{form.animalTitulo}'></h1>
			</div>

			<div class="col-12">
				<form th:action="@{/animal/save}" method="post" th:object="${animal}">

					<div class="form-row">

						<div class="form-group col-md-6">
							<label for="nombre"><span th:text='#{form.animalNombre}'></span></label> <input th:field="*{nbAlias}"
								th:value="*{nbAlias}" type="text" autocomplete
								class="form-control" id="nombre">
						</div>
            
                        <div class="form-group col-md-6">
                          <label for="especie"><span th:text='#{form.animalEspecie}'></span></label>
                          <select class="custom-select" th:field="*{especie}">
                            <option selected="true" value="-1">--</option>
                            <option th:each="especie : ${especies}" th:text="${especie.nombreEspecie}" th:value="${especie.idEspecie}"></option>
                          </select>
                        </div>

						<div class="form-group col-md-6">
							<label for="imagen"><span th:text='#{form.animalImagen}'></span></label> <input
								th:field="*{datosAnimal.imagen}"
								th:value="*{datosAnimal.imagen}" type="text" autocomplete="url"
								class="form-control" id="imagen">
						</div>
            
                        <div class="form-group col-md-6">
                          <label for="raza"><span th:text='#{form.animalRaza}'></span></label>
                          <select class="custom-select" th:field="*{raza}">
                            <option selected="true" value="-1">--</option>
                            <option th:each="raza : ${razas}" th:text="${raza.nombreRaza}" th:value="${raza.idRaza}"></option>
                          </select>
                        </div>

						<div class="form-group col-md-6">
							<label for="observaciones"><span th:text='#{form.animalObservaciones}'></span></label> <textarea
								th:field="*{datosAnimal.observaciones}"
								th:value="*{datosAnimal.observaciones}"
                                rows="4"
								class="form-control" id="observaciones" ></textarea>
						</div>
            
                        <div class="form-group col-md-12">
						  <button type="submit" class="btn btn-dark"><span th:text='#{form.boton}'></button>
                        </div>
            
                        <div class="form-group col-md-12">
                          <div th:switch="${guardado}">
                            <div th:case="1" class="alert alert-success" id="aviso"><span th:text='#{form.guardar}'></span></div>
                            <div th:case="2" class="alert alert-error" id="aviso"><span th:text='#{form.error}'></span></div>
                            <script>$(document).ready(function(){$('#aviso').fadeOut(3000);});</script>
                          </div>
                        </div>

					</div>

				</form>
			</div>

		</div>
	</div>

</body>
<th:block th:include="tiles/footer"></th:block>
</html>