<html>

<head lang="es">
<th:block th:include="tiles/head_libs :: head"></th:block>
<link rel="icon" type="image"
	href="../Proyecto_Animales/img/icon/favicon.png">
<meta charset="UTF-8">
<title>Nueva Especie</title>
</head>

<body style="background-color: grey">

	<th:block th:include="tiles/menu"></th:block>

	<div class="container">

		<div class="row">
			<div class="col-12 mt-5">
				<h1><span th:text='#{form.especieTitulo}'></h1>
			</div>

			<div class="col-12">
				<form th:action="@{/especie/save}" method="post"
					th:object="${especie}">

					<div class="form-row">

						<div class="form-group col-md-6">
							<label for="id"><span th:text='#{form.especieNombre}'></span></label> <input th:field="*{nombreEspecie}"
								th:value="*{nombreEspecie}" type="text" autocomplete
								class="form-control" id="id" >
						</div>

						<div class="form-group col-md-6">
							<label for="id"><span th:text='#{form.especieSalvaje}'></span></label> <br>
                              <input type="radio" th:field="*{salvaje}" th:value="1"/><span th:text='#{form.especieSalvaje2}'></span>
							  <br> 
							  <input type="radio" th:field="*{salvaje}" th:value="0"/><span th:text='#{form.especieSalvaje3}'></span>
						</div>

						<div class="form-group col-md-12">
                          <button type="submit" class="btn btn-dark"><span th:text='#{form.boton}'></span></button>
                        </div>
                        
                        
                        <div class="form-group col-md-12">
                          <div th:switch="${guardado}">
                            <div th:case="1" class="alert alert-success" id="aviso"><span th:text='#{form.guardar}'></span></div>
                            <div th:case="2" class="alert alert-error" id="aviso"><span th:text='#{form.error}'></span></div>
                            <script>$(document).ready(function(){$('#aviso').fadeOut(3000);});</script>
                          </div>
                        </div>
                      </div>

					</div>

				</form>
			</div>

		</div>
	</div>
</body>
<th:block th:include="tiles/footer"></th:block>

</html>