<footer class="fijarFotterAlPie">

  <br> <br>
  <div class="mx-auto bg-dark" style="width: 100%">

    <br>


    <div class="mx-auto" style="width: 60%">
      <p style="color: white; text-align: center">Para hacer esto posible colaboramos con:</p>
      <div class="mx-auto" style="width: 30%">
        <a href="https://www.zoobarcelona.cat" role="button"><img th:src="@{/images/colaboradores/ZOO_bcn.jpg}"
          alt="" style="width: 17%"> </a> <a href="https://www.wwf.es/" role="button"><img
          th:src="@{/images/colaboradores/wwf.png}" alt="" style="width: 17%"> </a> <a
          href="https://es.greenpeace.org/es/" role="button"></a><img th:src="@{/images/colaboradores/greenpeace.jpg}"
          alt="" style="width: 17%"></a> <a href="https://www.zoomadrid.com/" role="button"></a><img
          th:src="@{/images/colaboradores/ZOO_madrid.png}" alt="" style="width: 17%"></a> <a
          href="https://www.bioparcvalencia.es/" role="button"> <img th:src="@{/images/colaboradores/ZOO_val.jpg}"
          alt="" style="width: 17%"></a>
      </div>


    </div>
  </div>
</footer>