<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
       
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
         th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
         
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link th:href="@{/css/animales.css}" rel="stylesheet" media="screen"/>
</head>
</html>