
<html>
<head>
<meta charset="UTF-8">
</head>

<nav style="width:100%"class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a href="/" class="navbar-brand text-light">
		<span style="margin-left:15px"></span>
     <img style="width: 25px" th:src="@{/images/Icon/favicon.png}">
  	 <span style="margin-left:5px"></span>
    </a>
	<div class="collapse navbar-collapse d-flex" id="navbarNav">
		<div class="mr-auto p-2">
			<ul class="navbar-nav">
				<li class="nav-item active">
						<div class="w3-container">
								<div class="w3-dropdown-hover">
								  <button class="w3-button bg-dark" style="color: white;font-size: 20px" ><span th:text='#{menu.animal}'></span></button>
								  <div class="w3-dropdown-content w3-bar-block w3-border">
									<a href="/animal/nuevo" class="w3-bar-item w3-button"><span th:text='#{menu.animal1}'></span></a>
									<a href="/animal/modificar" class="w3-bar-item w3-button"><span th:text='#{menu.animal2}'></span></a>
									<a href="/animal/listado" class="w3-bar-item w3-button"><span th:text='#{menu.animal3}'></span></a>
								  </div>
								</div>
							  </div>
							  
					</li>
					<li class="nav-item active">
							<div class="w3-container">
									<div class="w3-dropdown-hover">
									  <button class="w3-button bg-dark" style="color: white;font-size: 20px" ><span th:text='#{menu.especie}'></span></button>
									  <div class="w3-dropdown-content w3-bar-block w3-border">
										<a href="/especie/nueva" class="w3-bar-item w3-button"><span th:text='#{menu.especie1}'></a>
										<a href="/especie/modificar" class="w3-bar-item w3-button"><span th:text='#{menu.especie2}'></a>
										<a href="/especie/listado" class="w3-bar-item w3-button"><span th:text='#{menu.especie3}'></a>
									  </div>
									</div>
								  </div>
								  
						</li>
						<li class="nav-item active">
								<div class="w3-container">
										<div class="w3-dropdown-hover">
										  <button class="w3-button bg-dark" style="color: white;font-size: 20px" ><span th:text='#{menu.raza}'></button>
										  <div class="w3-dropdown-content w3-bar-block w3-border">
											<a href="/raza/nueva" class="w3-bar-item w3-button"><span th:text='#{menu.raza1}'></a>
											<a href="/raza/modificar" class="w3-bar-item w3-button"><span th:text='#{menu.raza2}'>a</a>
											<a href="/raza/lista" class="w3-bar-item w3-button"><span th:text='#{menu.raza3}'></a>
										  </div>
										</div>
									  </div>
									  
							</li>

			</ul>
		</div>
		<div class="p-2">
			<form class="form-inline my-2 my-lg-0">

				<input class="form-control mr-sm-2" type="search"
					placeholder="" aria-label="Search">
				<button class="btn btn-light  my-2 my-sm-0" type="submit"><span th:text="#{menu.boton}"></span></button>

			</form>
		</div>
    <div class="p-2">
      <span class="idiomas">
        <a th:href="|@{/}?idioma=es|"><img th:src="@{/images/idiomas/esp.png}" width="20" height="20" alt="EspaÃ±ol"></a>
        <a th:href="|@{/}?idioma=ca|"><img th:src="@{/images/idiomas/cat.png}" width="20" height="20" alt="Catalan"></a>
        <a th:href="|@{/}?idioma=en|"><img th:src="@{/images/idiomas/eng.png}" width="20" height="20" alt="English"></a>
      </span>
    </div>
	</div>
</nav>
</html>